body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

.app {
  text-align: left;
  font-size: 1.5vw;
  font-family: "CeraPRO-Regular";
}

/* GREY BAR SECTION */
.grey-bar p {
  background-color: #d9d8d9;
  margin: auto;
  padding: 0.5%;
}

/* NAV BAR SECTION */

.nav {
  display: flex;
  margin: auto;
  height: auto;
}

.hamburger {
  display: none;
}

.nav-logo {
  margin: auto 5%;
  text-align: center;
}

.nav-logo h3 {
  margin-bottom: 0;
  color: #006272;

  padding: 0%;
}

.nav-logo h1 {
  margin-top: 0%;
  background-image: linear-gradient(to right, #006272, #51e5ca);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

.nav-right {
  margin: auto;
  margin-right: 2%;
  width: 80%;
  text-align: right;
}

.nav-right a {
  margin: auto 2%;
  text-decoration: none;
  color: black;
}

#search {
  margin: auto;
  margin-right: 5%;
}

/* WELCOME BANNER */

.welcome-banner-mobile {
  display: none;
}

/* LARGE INFO TILE SECTION */

.tile-large {
  display: flex;
  flex-direction: row;
}
.tile-large .tile {
  width: 40%;
  margin: 3% auto;
}
.tile-large .tile img {
  width: auto;
  height: 23vw;
  position: relative;
}

.image p {
  position: relative;
  top: -24.3vw;
  left: 19.6vw;
  background-color: #006272;
  color: white;
  width: 12vw;
  font-size: 0.75vw;
  padding: 2% 1%;
  z-index: 999;
  text-align: center;
}

/* TILE HEADER SECTION */
.tile-header {
  display: flex;
  flex-direction: row;
}
.tile-header a {
  width: 20%;
  font-size: 3vw;
  color: #006272;
  margin: auto 0%;
  text-align: center;
}

.tile-header-text {
  margin: auto;
  margin-left: 0%;
  font-size: 1.25vw;
  width: auto;
  flex-direction: column;
}

.tile-header-text h4 {
  color: #006272;
  margin-bottom: 0%;
}
.tile-large .tile .text-box .tile-header-text p {
  margin: 0;
}

.tile-large .tile .text-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  position: relative;
  top: -10%;
}

.tile-large .tile .text-box p {
  margin: 10%;
}

.text-box-left {
  width: 75%;
  height: auto;
}

.text-box-right {
  width: 25%;
  height: 5%;
  text-align: center;
  color: white;
  background-color: #006272;
}

/* Line and Link Section */
.Line-Link {
  display: flex;
  flex-direction: row;
}

hr {
  width: 5%;
  height: 0%;
  color: #51e5ca9f;
  margin: auto 1%;
}
.Line-Link p {
  width: 20%;
  color: #006272;
}

.Line-Link a {
  margin: auto;
  margin-right: 5%;
  text-align: right;
  color: #006272;
}

/* SMALL INFO TILE SECTION */

.tile-small {
  display: flex;
  flex-direction: row;
}

.tile-small .tile {
  width: 30%;
  margin: 3% auto;
}
.tile-small .tile img {
  width: 100%;
  height: 23vw;
  overflow: hidden;
  position: relative;
}

.tile-small .tile .text-box {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: white;
  position: relative;
  top: -10%;
}

.tile-small .tile .text-box .tile-header-text p {
  margin: 0;
}

.tile-small .tile .text-box p {
  margin: 10%;
}

.image-small p {
  position: relative;
  top: -24.25vw;
  left: 17.4vw;
  background-color: #006272;
  color: white;
  width: 12vw;
  font-size: 0.75vw;
  padding: 2% 1%;
  z-index: 999;
  text-align: center;
}

/* BANNER STYLING */

.banner {
  background: linear-gradient(to right, #006272, #51e5ca);
  height: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banner img {
  width: auto;
  height: 75%;
  margin: auto 0;
  margin-bottom: 0.5%;
}
.banner-text {
  width: 70%;
  display: flex;
  margin: auto 0;
}
.banner-text p {
  font-size: 2vw;
  width: 40%;
  margin: auto;
  color: white;
}
.banner-text button {
  width: auto;
  margin: auto;
  padding: 1% 2%;
  border: white solid 1px;
  color: white;
  font-size: 0.9vw;
  background: none;
}

/* FOOTER */
.footer {
  color: white;
  background-color: #3c3c3b;
}

.footer-header {
  display: flex;
  flex-direction: row;
}

.footer-header h1 {
  margin: 3% 5%;
  width: 50%;
}

.footer-socials {
  display: flex;
  justify-content: right;
  width: 50%;
  margin: 3% 5%;
}
.footer-socials a {
  display: flex;
  justify-content: center;
  margin: auto 5%;
  padding: 2%;
  width: 1.5vw;
  border: solid white 1px;
  border-radius: 50%;
}

.footer-line {
  width: 90%;
  margin: auto;
  color: lightgrey;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.footer-info-left {
  width: 80%;
  display: flex;
}

.footer-info-right {
  display: flex;
  width: 50%;
  flex-direction: row;
}

.footer-list {
  font-size: 1.25vw;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  margin-left: 10%;
  margin-top: 0%;
}

.footer h3 {
  color: #51e5ca;
}

.footer-copyright {
  background-color: #2a2a2a;
  font-size: 1.2vw;
  text-align: center;
  margin: auto;
  display: flex;
}

.footer-copyright p {
  font-size: 1vw;
  width: 100%;
  margin: auto;
  padding: 2%;
}

@media screen and (max-width: 600px) {
  .app {
    text-align: left;
    font-size: 3vw;
  }

  .hamburger {
    display: flex;
    margin: auto;

    height: 50%;
    width: 10%;
  }

  .nav-right {
    display: none;
  }

  .nav-logo {
    margin: auto;
    text-align: center;
  }

  #search {
    font-size: 7vw;
  }

  .welcome-banner {
    display: none;
  }

  .welcome-banner-mobile {
    display: flex;
  }

  /*LARGE TILE MOBILE */

  .tile-large {
    flex-direction: column;
  }
  .tile-large .tile {
    width: 90%;
    margin: 3% auto;
  }
  .tile-large .tile img {
    width: 100%;
    height: auto;
    position: relative;
  }

  .tile-large .tile .text-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    position: relative;
    top: -10%;
  }

  .tile-header a {
    font-size: 6vw;
  }

  .tile-header-text {
    font-size: 3vw;
  }

  .image p {
    top: -68.25vw;
    left: 48.25vw;
    width: 40vw;
    font-size: 3.5vw;
  }

  /* Line and Link Section */
  .Line-Link {
    display: flex;
    flex-direction: row;
  }

  hr {
    width: 5%;
    height: 0%;
    margin: auto 1%;
  }
  .Line-Link p {
    width: 25%;
    margin-left: 5%;
  }

  .Line-Link a {
    margin: auto;
    margin-right: 5%;
    text-align: right;
  }

  /* SMALL INFO TILE SECTION */

  .tile-small {
    display: flex;
    flex-direction: column;
  }

  .tile-small .tile {
    width: 90%;
    margin: 3% auto;
  }
  .tile-small .tile img {
    width: 100%;
    height: auto;
    position: relative;
  }

  .tile-small .tile .text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: relative;
    top: -10%;
  }

  .image-small p {
    top: -68.35vw;
    left: 48.25vw;
    width: 40vw;
    font-size: 3.5vw;
  }

  .image-small .image-small-2 {
    top: -61vw;
  }

  /* BANNER SECTION */

  .banner {
    background: linear-gradient(to right, #006272, #51e5ca);
    height: auto;
    flex-direction: column-reverse;
  }

  .banner-text {
    flex-direction: column;
    margin: auto;
    width: 80%;
  }

  .banner img {
    margin-bottom: 0%;
  }
  .banner-text p {
    margin: auto;
    margin-top: 10%;
    font-size: 6vw;
    width: 80%;
    text-align: center;
  }
  .banner-text button {
    width: auto;
    margin: 10%;
    border: white solid 1px;
    color: white;
    font-size: 4vw;
    background: none;
  }

  /* FOOTER SECTION */

  .footer-header {
    display: flex;
    flex-direction: column;
  }

  .footer-header h1 {
    margin: 10% auto;
    margin-bottom: 0%;
    text-align: center;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .footer-socials a {
    display: flex;
    justify-content: center;
    margin: 5% 5%;
    padding: 2.5%;
    width: 2.5vw;
    border: solid white 1px;
    border-radius: 50%;
  }
  .footer-info-left {
    flex-direction: column;
  }
  .footer-info-right {
    flex-direction: column;
  }

  .footer-list {
    font-size: 3vw;
  }
  .footer-copyright {
    flex-direction: column;
  }

  .footer-copyright p {
    width: 60%;
    padding: 5%;

    font-size: 2.5vw;
  }
}
